Repository sushidesu/yaruzo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --cache --fix", "prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"],
  "*.json": "prettier --write"
}

install uuid
  package.json
  yarn.lock
Due: prettier --write

implement normal todo app
  src/App.tsx
Due: eslint --cache --fix, prettier --write

install clsx
  package.json
  yarn.lock
Due: prettier --write

add temp styles
  src/App.module.css
  src/App.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

install rocon
  package.json
  yarn.lock
Due: prettier --write

define routes
  src/app/App.tsx
  src/app/Router.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Yarukoto.tsx
Due: eslint --cache --fix, prettier --write

create page layout component
  src/app/Router.tsx
  src/components/pages/Home/Home.page.tsx
  src/components/pages/Home/Home.tsx
  src/components/pages/Home/index.ts
  src/components/pages/Yarukoto/Yarukoto.page.tsx
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/components/pages/Yarukoto/index.ts
  src/components/pages/Yarukoto/yarukoto-page-props.ts
Due: eslint --cache --fix, prettier --write

create yarukoto context
  src/app/App.tsx
  src/context/YarukotoContext.tsx
  src/context/yarukoto.ts
Due: eslint --cache --fix, prettier --write

show date list
  src/components/pages/Home/Home.module.css
  src/components/pages/Home/Home.tsx
  src/context/YarukotoContext.tsx
  src/context/yarukoto.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

add header and footer
  src/components/pages/Home/Home.module.css
  src/components/pages/Home/Home.page.tsx
  src/components/pages/Home/Home.tsx
  src/components/pages/Yarukoto/Yarukoto.page.tsx
  src/components/ui/Footer/Footer.module.css
  src/components/ui/Footer/Footer.tsx
  src/components/ui/Footer/index.ts
  src/components/ui/Header/Header.module.css
  src/components/ui/Header/Header.tsx
  src/components/ui/Header/index.ts
  src/components/ui/Layout/Layout.module.css
  src/components/ui/Layout/Layout.tsx
  src/components/ui/Layout/index.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

add details page
  src/App.tsx
  src/components/pages/Home/Home.tsx
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/context/YarukotoContext.tsx
  src/context/yarukoto.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

wip
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/context/yarukoto.ts
  src/model/task.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

install kvs
  package.json
  yarn.lock
Due: prettier --write

install swr
  package.json
  yarn.lock
Due: prettier --write

use @kvs/env
  package.json
  yarn.lock
Due: prettier --write

kvs使う
  src/components/pages/Home/Home.tsx
  src/components/pages/Yarukoto/Yarukoto.page.tsx
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/context/YarukotoContext.tsx
  src/context/yarukoto.ts
  src/model/task.ts
Due: eslint --cache --fix, prettier --write

sort tasks
  src/context/yarukoto.ts
Due: eslint --cache --fix, prettier --write

install dayjs
  package.json
  yarn.lock
Due: prettier --write

fix: show correct calendar
  src/components/pages/Home/Home.tsx
Due: eslint --cache --fix, prettier --write

feat: moveTask API
  src/context/yarukoto.ts
Due: eslint --cache --fix, prettier --write

feat: move, rename API
  src/context/yarukoto.ts
Due: eslint --cache --fix, prettier --write

feat: move, rename
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/model/task.ts
Due: eslint --cache --fix, prettier --write

use useTasks in Home
  src/components/pages/Home/Home.module.css
  src/components/pages/Home/Home.tsx
  src/components/ui/Header/Header.module.css
  src/styles/global.css
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix
  src/components/pages/Yarukoto/Yarukoto.tsx
Due: eslint --cache --fix, prettier --write

redirect
  vercel.json
Due: prettier --write

fix styles
  src/components/ui/Header/Header.module.css
  src/components/ui/Header/Header.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: define TaskRepositoryInterface
  src/model/task-repository-interface.ts
Due: eslint --cache --fix, prettier --write

feat: implement task repository
  src/infra/kvs/task-repository.ts
  src/model/task-repository-interface.ts
Due: eslint --cache --fix, prettier --write

query by range
  src/components/pages/Home/Home.tsx
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/infra/kvs/task-repository.ts
  src/model/task-repository-interface.ts
  src/model/useTasks.ts
Due: eslint --cache --fix, prettier --write

fix
  src/app/App.tsx
  src/app/NotFoundErrorBoundary.tsx
  src/components/pages/Home/Home.page.tsx
Due: eslint --cache --fix, prettier --write

refactor: create task-usecase, useTasks
  src/app/App.tsx
  src/components/pages/Home/Home.tsx
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/context/YarukotoContext.tsx
  src/context/yarukoto.ts
  src/model/task-usecase.ts
  src/model/useTasks.ts
Due: eslint --cache --fix, prettier --write

group by day
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/styles/global.css
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add prev/next date link
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

show dot
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix styles
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: add CompleteButton
  src/components/feature/CompleteButton.module.css
  src/components/feature/CompleteButton.tsx
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/model/task-usecase.ts
Due: eslint --cache --fix, prettier --write

add aria-label to move buttons
  src/components/pages/Yarukoto/Yarukoto.tsx
Due: eslint --cache --fix, prettier --write

wip: move up/down
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/model/task-usecase.ts
Due: eslint --cache --fix, prettier --write

feat: custom sort
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/infra/kvs/task-repository.ts
  src/model/task-repository-interface.ts
  src/model/task-usecase.ts
Due: eslint --cache --fix, prettier --write
