Repository sushidesu/yaruzo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix

fix
  src/infra/kvs/task-repository.ts
Due: eslint --cache --fix, prettier --write

add button component
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/components/ui/Button/Button.module.css
  src/components/ui/Button/Button.tsx
  src/components/ui/Button/index.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

wip
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/components/ui/useDragAndDrop.ts
Due: eslint --cache --fix, prettier --write

feat: updateOrders
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/components/ui/useDragAndDrop.ts
  src/infra/kvs/task-repository.ts
  src/model/task-repository-interface.ts
  src/model/task-usecase.ts
Due: eslint --cache --fix, prettier --write

fix styles
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/components/ui/useDragAndDrop.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix styles
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat/dnd (#3)
  src/components/pages/Yarukoto/Yarukoto.module.css
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/components/ui/Button/Button.module.css
  src/components/ui/Button/Button.tsx
  src/components/ui/Button/index.ts
  src/components/ui/useDragAndDrop.ts
  src/infra/kvs/task-repository.ts
  src/model/task-repository-interface.ts
  src/model/task-usecase.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix
  src/components/ui/useDragAndDrop.ts
Due: eslint --cache --fix, prettier --write

fix: reset preview list when moving pages
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/infra/kvs/task-repository.ts
Due: eslint --cache --fix, prettier --write

fix: reset preview list when moving pages (#4)
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/infra/kvs/task-repository.ts
Due: eslint --cache --fix, prettier --write

Add LayoutWithSidebar
  src/components/pages/Home/Home.page.tsx
  src/components/ui/LayoutWithSidebar/LayoutWithSidebar.module.css
  src/components/ui/LayoutWithSidebar/LayoutWithSidebar.tsx
  src/components/ui/LayoutWithSidebar/index.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

Add LeftoverList
  src/components/feature/LeftoverList.module.css
  src/components/feature/LeftoverList.tsx
  src/components/pages/Home/Home.page.tsx
  src/components/ui/LayoutWithSidebar/LayoutWithSidebar.module.css
  src/components/ui/LayoutWithSidebar/LayoutWithSidebar.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

残り物クエリ
  src/components/feature/LeftoverList.tsx
  src/infra/kvs/task-repository.ts
  src/lib/keys/leftoversKey.ts
  src/model/task-repository-interface.ts
Due: eslint --cache --fix, prettier --write

mutator
  src/lib/mutator.tsx
Due: eslint --cache --fix, prettier --write

move today and remove leftovers
  src/components/feature/LeftoverList.module.css
  src/components/feature/LeftoverList.tsx
  src/components/pages/Home/Home.module.css
  src/model/task-usecase.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

sort by todoAt
  src/infra/kvs/task-repository.ts
Due: eslint --cache --fix, prettier --write

leftovers (#5)
  src/components/feature/LeftoverList.module.css
  src/components/feature/LeftoverList.tsx
  src/components/pages/Home/Home.module.css
  src/components/pages/Home/Home.page.tsx
  src/components/ui/LayoutWithSidebar/LayoutWithSidebar.module.css
  src/components/ui/LayoutWithSidebar/LayoutWithSidebar.tsx
  src/components/ui/LayoutWithSidebar/index.ts
  src/infra/kvs/task-repository.ts
  src/lib/keys/leftoversKey.ts
  src/lib/mutator.tsx
  src/model/task-repository-interface.ts
  src/model/task-usecase.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix
  src/components/feature/LeftoverList.tsx
Due: eslint --cache --fix, prettier --write

use pnpm instead of yarn
  .husky/pre-commit
  pnpm-lock.yaml
  yarn.lock
Due: none

use pnpm instead of yarn (#6)
  .husky/pre-commit
  pnpm-lock.yaml
  yarn.lock
Due: none

install recoil
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix lint config (_ ignore)
  .eslintrc.json
Due: prettier --write

feat: recoilを使って月別task一覧を取得する
  src/app/App.tsx
  src/components/pages/Home/Home.tsx
  src/model/selected-month-atom.ts
  src/model/task-list-by-month-selector.ts
Due: eslint --cache --fix, prettier --write

feat: 月を戻す/進める機能
  src/components/pages/Home/Home.module.css
  src/components/pages/Home/Home.tsx
  src/model/selected-month-atom.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

やってないリストをselectorにする
  src/components/feature/LeftoverList.tsx
  src/model/leftover-task-list-selector.ts
Due: eslint --cache --fix, prettier --write

use recoil (#7)
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/app/App.tsx
  src/components/feature/LeftoverList.tsx
  src/components/pages/Home/Home.module.css
  src/components/pages/Home/Home.tsx
  src/model/leftover-task-list-selector.ts
  src/model/selected-month-atom.ts
  src/model/task-list-by-month-selector.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix bug
  src/components/pages/Home/Home.page.tsx
Due: eslint --cache --fix, prettier --write

update
  package.json
  pnpm-lock.yaml
Due: prettier --write

個別にtaskQueryでデータを取得する
  src/components/pages/Home/Home.tsx
  src/model/task-id-range-query.ts
  src/model/task-list-by-month-query.ts
  src/model/task-list-by-month-selector.ts
  src/model/task-query.ts
  src/model/task.ts
Due: eslint --cache --fix, prettier --write

leftoversをtaskQuery経由で取得する
  src/components/feature/LeftoverList.tsx
  src/model/leftover-task-list-query.ts
  src/model/leftover-task-list-selector.ts
  src/model/task-id-range-leftover-query.ts
Due: eslint --cache --fix, prettier --write

wip
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/model/task-list-by-date.ts
Due: eslint --cache --fix, prettier --write

消す
  src/components/pages/Yarukoto/Yarukoto.tsx
Due: eslint --cache --fix, prettier --write

update lock
  pnpm-lock.yaml
Due: none

日付しか見ていないものはDateKeyを使う
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/model/task-id-range-query.ts
  src/model/task-list-by-date.ts
  src/model/task-list-by-month-query.ts
Due: eslint --cache --fix, prettier --write

feat: その日のやることをrecoil selectorで取得する
  src/components/pages/Yarukoto/Yarukoto.tsx
  src/model/task-id-range-query.ts
  src/model/task-list-by-date.ts
  src/model/task-query.ts
Due: eslint --cache --fix, prettier --write

fix lint config
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.css)) or (any of: *.json)
  stylelint --fix: any of: *.css
